<footer id="sticky-footer", class="footer bg-dark py-2">
    <div class="text-center text-white">
        <span class="text-white">
            <small><%= link_to "© Ethan Olivieri", "https://github.com/EthanOlivier", class: "text-white text-decoration-none" %></small>
        </span>
    </div>
</footer>